<?xml version="1.0" encoding="UTF-8" ?>
<widget id="eu.lifechurch.metronome" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Lifehurch Metronome</name>

    <description>
        Lifehurch Metronome for Song Lists.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        James Jesudason
    </author>

</widget>
