<?xml version="1.0" encoding="UTF-8" ?>
<widget id="eu.lifechurch.metronome" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Lifechurch Metronome</name>

    <description>
        Lifechurch Metronome for Song Lists.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        James Jesudason
    </author>

    <!-- Permissions -->
    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <!-- Audio -->
    <plugin name="Media" value="org.apache.cordova.AudioHandler" />

</widget>
